
<div class="container-fluid">
  <div class="row">
      <div class="column-sm-4">
          <h3>
              List of all users
            </h3>
      </div>
      <div class="column-sm-4">
      </div>
      <div class="column-sm-4">
          <button class="btn btn-primary">Add User</button>
      </div>
  </div>
</div>

<table class="table">
  <thead>
    <th><p>Id</p></th>
    <th><p>First Name</p></th>
    <th><p>Last Name</p></th>
    <th><p>Visited Countries</p></th>
    <th><p>Actions</p></th>
  </thead>
  <tr *ngFor="let user of users">
    <td>
      <a>
        <p>{{user.id}} </p>
      </a>
    </td>
    <td>
      <a>
        <p>{{user.firstName}} </p>
      </a>
    </td>
    <td>
      <a>
        <p>{{user.lastName}} </p>
      </a>
    </td>
    <td>
        <a routerLink="/users/{{user.id}}">
          <button class ="btn btn-success">See on a map</button>
        </a>
      </td>
      <td>
          <a>
            <button class ="btn btn-warning">Edit</button>
          </a>
        </td>
        <td>
            <a>
              <button class ="btn btn-danger">Delete</button>
            </a>
          </td>
  </tr>
</table>
