<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
      <button class="btn btn-primary" (click)="backClicked()">Return</button>
      <p class="bold">{{user?.firstName}}</p>
      <p class="bold">{{user?.lastName}}</p>
      <p>Visited Countries:</p>
      <ul *ngFor="let country of user?.visitedCountries">
        <li>{{country?.name}}</li>
      </ul>
      </div >
      <div class="col-sm-9">
        <div class= "map">
            <app-map></app-map>
        </div>
      </div>
    </div>
</div>
