<div class="jumbotron">
    <div class="container">
    <div class="row">
            <a routerLink="/users" >
                <button class="btn btn-warning" (click)="editUser(user)">Confirm</button>
            </a>
            <a routerLink="/users" >
                <button class="btn btn-primary">Return</button>
            </a>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
              <h1>Edit User {{user?.firstName}}</h1>
              <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" id="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">First Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control" id="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                    <label for="visitedCountries">Visited Countries</label>
                    <ng-multiselect-dropdown
                    [ngModelOptions]="{standalone: true}"
                    [placeholder]="'select visited countries'"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems"
                    [settings]="dropdownSettings">
                  </ng-multiselect-dropdown>
                  </div>
              </form>
              <pre>{{this.userForm.value | json}}
                 {{ selectedItems | json}}</pre>
            </div>
        </div>
    </div>
</div>
            